html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game-body {
  height: 100%;
}

#root {
  height: 100%;
}

.ReactModal__Overlay {
  z-index: 2;
}

.bm-menu {
  overflow: hidden !important;
}

.bm-overlay {
  background-color: #eff4f7 !important;
  border-radius: 5px;
}

.bm-menu-wrap {
  text-align: center;
}

.bm-item-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bm-item {
  cursor: pointer;
  margin: 0;
  padding: 16px;
}

.bm-item:hover {
  background-color: cadetblue;
  color: white;
}
